{% macro renderNavListItem(entry) %}
{% if entry.children.length %}
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle{% if entry.active %} active{% endif %}"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >{{ entry.title }}</a>
  <ul class="dropdown-menu">
    {% for child in entry.children %}
    <li>
      <a
        class="dropdown-item{% if child.active %} active{% endif %}"
        href="{{ child.url }}"
        {% if child.active %}aria-current="page" {% endif %}
      >{{ child.title }}</a>
    </li>
    {% endfor %}
  </ul>
</li>
{% else %}
<li class="nav-item">
  <a
    class="nav-link{% if entry.active %} active{% endif %}"
    href="{{ entry.url }}"
    {% if entry.active %} aria-current="page" {% endif %}
  >{{ entry.title }}</a>
</li>
{%- endif -%}
{%- endmacro %}

{% set navPages = collections.all | eleventyNavigation | markActiveLink %}
<ul class="navbar-nav">
  {% for entry in navPages %}{{ renderNavListItem(entry) }}{% endfor %}
</ul>
