---
layout: base
---

<div class="hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs col-sm-10 col-lg-8">
        <h1>{{ heroHeadline }}</h1>
        <p>{{ heroDescription }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  {{ content | safe }}
</div>
