:root {
  --bs-gray-900: #000;
  --bs-primary: #2a5555;
  --bs-dark: #000;
  --bs-primary-rgb: 42, 85, 85;
  --bs-dark-rgb: 0, 0, 0;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-body-color: #000;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 600;
  font-style: italic;
}
a {
  color: #2a5555;
  text-decoration: underline;
}
a:hover {
  color: #224444;
}

kbd {
  background-color: #000;
}
.btn {
  --bs-btn-color: #000;
  --bs-btn-hover-color: #000;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(42, 85, 85, 0.25);
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-bg: #2a5555;
  --bs-btn-border-color: #2a5555;
  --bs-btn-hover-bg: #244848;
  --bs-btn-hover-border-color: #224444;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(74, 111, 111, 0.5);
  --bs-btn-active-bg: #224444;
  --bs-btn-active-border-color: #204040;
  --bs-btn-disabled-bg: #2a5555;
  --bs-btn-disabled-border-color: #2a5555;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-bg: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-bg: rgba(0, 0, 0, 0.6);
  --bs-btn-hover-border-color: rgba(0, 0, 0, 0.6);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.5);
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2a5555;
  opacity: 0.7;
  z-index: 1;
}

video.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("../assets/img/bg-mobile-fallback.jpg") #2a5555 no-repeat
      center center scroll;
    background-size: cover;
  }

  body video {
    display: none;
  }
}
.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.navbar .container,
.masthead .masthead-content,
.footer .container {
  max-width: 40rem;
}

.navbar-brand img {
  max-width: 180px;
}

.masthead .masthead-content {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.masthead .masthead-content h1,
.masthead .masthead-content .h1 {
  font-size: 2.5rem;
}
.masthead .masthead-content p {
  font-size: 1.2rem;
}
.masthead .masthead-content p strong {
  font-weight: 700;
}
.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}
.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    width: 75vw;
    min-height: 0;
    padding-bottom: 0;
  }
  .masthead:before {
    transform: skewX(-9deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 9rem;
  }
  .masthead .masthead-content h1,
  .masthead .masthead-content .h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}
.social-icons {
  position: relative;
  z-index: 2;
}
.social-icons .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
}

@media (min-width: 992px) {
  .social-icons {
    position: absolute;
    height: 100%;
    top: 0;
    right: 2.5rem;
    width: auto;
  }
}

.footer .nav {
  --bs-nav-link-color: rgba(255, 255, 255, 0.8);
  --bs-nav-link-hover-color: #fff;
}
