<footer class="footer">
  <div class="container">
    <div class="d-block d-sm-flex justify-content-between border-bottom pb-2 mb-3">
      <img class="footer-brand d-block mx-auto mx-sm-0" src="/assets/img/logo.svg" alt="protech.md" />
      <div>
        <h5 class="mb-3">Contacte</h5>
        <address class="nav">
          <div class="nav-item">
            <a
              href="tel:+37360696262"
              aria-label="Număr telefon suport"
              class="nav-link"
              ><i class="bi bi-telephone"></i
              ><span>+373 60 69 62 62</span></a
            >
          </div>
          <div class="nav-item">
            <a
              href="mailto:support@protech.md"
              aria-label="Email suport"
              class="nav-link"
              ><i class="bi bi-envelope"></i
              ><span>support@protech.md</span></a
            >
          </div>
          <div class="nav-item">
            <a
              href="https://maps.app.goo.gl/BXG1Xxe447uSaVBt5"
              target="_blank"
              aria-label="Adresa"
              class="nav-link"
              ><i class="bi bi-geo-alt"></i
              ><span>Chișinău, b-dul Mircea cel Bătrân 31/8</span></a
            >
          </div>
        </address>
      </div>
    </div>
    <p class="mb-0 text-center">© 2023 Toate drepturile rezervate!</p>
  </div>
</footer>
